name: php-project-48

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: curl, mbstring, zip, xml, json, pdo, mysql, openssl
          coverage: xdebug

      - run: make install
      - run: make lint
      - run: make test-coverage
      - run: |
          vendor/bin/phpunit \
            --coverage-clover=coverage.xml \
            --colors=always \
            tests/

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.php.coverage.reportPaths=coverage.xml
            -Dsonar.coverage.exclusions=**/*Test.php,**/tests/**
